@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

/* CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* ADD YOUR STYLES HERE */

/* GLOBAL STYLES */

:root {
    --primary-background: rgb(19, 19, 20);
    --secondary: rgb(255, 255, 255);
    --rubik: 'Rubik', sans-serif;
}

body {
    background-color: var(--primary-background);
    color: var(--secondary);
    font-family: var(--rubik);
    background: url(assets/BG.png);
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

/* INDEX STYLE */
.nav-link {
    display: flex;
    gap: 2rem;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 8rem;
    padding: 0 4rem;
}

main {
 display: flex;
 justify-content: center;
 align-items: center;
 flex: 1;
}

nav > a > img {
    height: 100%;
}

.hero-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    line-height: 1.3;
}

.hero-title-container > p {
    max-width: 24rem;
}

.hero-title {
    font-size: 4rem;
    font: bold;
}

footer {
    font-size: xx-small;
    width: 100%;
    text-align: center;
}

/* members pictures */
.Godwyn {
    position: absolute; 
    top: 251px;
    left: 309px;
}

.kyle {
    position: absolute; 
    top: 251px;
    left: 900px;    
}

.melfred {
    position: absolute; 
    top: 700px;
    left: 309px;    
}

.rica {
    position: absolute; 
    top: 700px;
    left: 900px;    
}

/*members info*/
.Godwyn-name {
position: absolute; 
top: 550px;
left: 360px;
}

/*Chief Relations Officer info*/
.CRO {
    font-size: 11px;
    text-align: center; 
    position: absolute;
    width: 281px;
    height: 80px;
    top: 580px;
    left: 317px;
}

.CRO-description {
    font-family: var(--rubik);
    font-size: 11px;
    text-align: center; 
    max-width: 400px; 
    position: absolute;
    top: 585px;
    left: 312px;
}


.Kyle-name {
    position: absolute; 
    top: 550px;
    left: 990px;
}

.Mel-name {
    position: absolute; 
    top: 1005px;
    left: 360px;
}

/*Developers' Image*/
.hector {
  position: absolute; 
  top: 240px;
  left: 1130px;
  }

.win {
    position: absolute; 
    top: 240px;
    left: center;
    }
    
.mhai {
  position: absolute; 
  top: 230px;
  left: 230px;
      }
  
.nikki {
  position: absolute; 
  top: 480px;
  left: 440px;
        }

.dirk {
  position: absolute; 
  top: 480px;
  left: 900px;
  }

  /*Developers' names*/
  .leader {
    position: absolute; 
    top: 385px;
    left: center;
    }
  
  .win_name {
      position: absolute; 
      top: 405px;
      left: center;
      }
      
  .hector_name {
      position: absolute; 
      top: 395px;
      left: 1120px;
      }
      
  .mhai_name {
    position: absolute; 
    top: 395px;
    left: 220px;
        }
    
  .nikki_name {
    position: absolute; 
    top: 630px;
    left: 440px;
          }
  
  .dirk_name {
    position: absolute; 
    top: 630px;
    left: 890px;
    }

  /*Icons*/
  .win_facebook {
    position: absolute;
    top: 70px;
    left: 680px;
  }
  .win_gmail {
    position: absolute;
    top: 70px;
    left: 740px;
  }
  .mhai_facebook {
    position: absolute;
    top: 70px;
    left: 250px;
  }
  .mhai_gmail {
    position: absolute;
    top: 70px;
    left: 310px;
  }
  .hector_facebook {
    position: absolute;
    top: 70px;
    left: 1160px;
  }
  .hector_gmail {
    position: absolute;
    top: 70px;
    left: 1220px;
  }
  .nikki_facebook {
    position: absolute;
    top: 300px;
    left: 460px;
  }
  .nikki_gmail {
    position: absolute;
    top: 300px;
    left: 520px;
  }
  .dirk_facebook {
    position: absolute;
    top: 300px;
    left: 925px;
  }
  .dirk_gmail {
    position: absolute;
    top: 300px;
    left: 985px;
  }

